<h2>Dashboard</h2>
<hr>
<div class="row">
    <h6>Project Overview</h6>
    <div class="col-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="d-flex align-items-center">
                    <span class="val">00</span>
                    <span class="spacer"></span>
                    <button mat-icon-button matTooltip="More Projects" aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>                 
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-code" style="color: rgb(155, 5, 193);"></i>
                    COMPLETE
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="d-flex align-items-center">
                    <span class="val">00</span>
                    <span class="spacer"></span>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>                 
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-clock-rotate-left" style="color: rgb(237, 180, 34);"></i>
                    PENDING
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="d-flex align-items-center">
                    <span class="val">00</span>
                    <span class="spacer"></span>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>                 
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-triangle-exclamation" style="color: red;"></i>
                    AT RISK
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-3">
        <mat-card>
            <mat-card-content>
                <div class="d-flex align-items-center">
                    <span class="val">00</span>
                    <span class="spacer"></span>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>                 
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-circle-check" style="color: rgb(56, 169, 56);"></i>
                    APPROVED
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<br>
<div>
    <mat-card>
        <mat-card-content>
            Overview
            <div class="mainchart">

            </div>
        </mat-card-content>
    </mat-card>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <mat-card>
            <mat-card-content>
                New Projects
                <div class="mainchart">
    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6">
        <mat-card>
            <mat-card-content>
                New Customers
                <div class="mainchart">
    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>